In [4]:
import nampy as np
X=np.array([[1,0,1],[2,2,2]]) 
x

ModuleNotFoundError: No module named 'nampy'

In [3]:
##Write a Python code to declare variable id="513".
#Print the following statement "customer id =513". [Don't use print("customer id")]
customer_id = "513"
print((customer_id))

513

In [9]:
#Run the following statement, why there is an error

<class 'str'>
<class 'int'>

In [8]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
id = "513"
new_id = int(id) + 1
new_id

514

In [11]:
#Write a Python code to print the following string in a specific format (see the
# Twinkle, twinkle, little star,
# How I wonder what you are!
# Up above the world so high,
# Like a diamond in the sky.
print("Twinkle, twinkle, little star, \nHow I wonder what you are! \nUp above the world so high, \nLike a diamond in the sky. \n")

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

In [12]:
#Givin the following string variable, # Print the first element in the string
str = "Hello"
str[0]

'H'

In [13]:
# Print the element on the 13th index in the string
str = "Hello Good Morning"
str[13]

'r'

In [14]:
# Find the length of string
str = "Hello Good Morning"
len(str)

18

In [15]:
#Print the last element in the string [use negative index]
str = "Hello Good Morning"
str[-1]

'g'

In [16]:
#Take the slice on variable course with only index 11 to index 14
str = "Hello Good Morning"
str[11:14]

'Mor'

In [22]:
# Get every third element in the range from index 0 to index 20
str = "Hello Good Morning"
str[0:20:3]

'HlGdoi'

In [23]:
# Concatenate course string with ", AI & Development"
str = "Hello Good Morning"
course = str + " AI & Development"
course

'Hello Good Morning AI & Development'

In [24]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science

course.replace(" ","_")

'Hello_Good_Morning_AI_&_Development'

In [25]:
# Convert all the characters in string to upper case
course.upper()

'HELLO GOOD MORNING AI & DEVELOPMENT'

In [26]:
course

'Hello Good Morning AI & Development'

In [27]:
L = [2,4,7,3,10]
max(L)

10

In [28]:
min(L)

2

NameError: name 'sort' is not defined

In [33]:
L = [3,2,6,1,8,4,9,12,10]
L.sort()
print(L)

[1, 2, 3, 4, 6, 8, 9, 10, 12]